*,::before,::after
{
	margin : 0px;
	padding : 0px;
	
}
 
body
{
	height: 100vh;
	width: 100vw;
	background-color :#112A46;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-template-rows: repeat(4,1fr);
	column-gap: 10px;
	row-gap: 1rem;
	transition: all 2s ease;
}
header
{
	position : fixed;
	width: 100vw;
	height: 10vh;
	background-color : rgb(102, 223, 224);
	grid-column: 1/-1;
	grid-row: 1/2;
	z-index: 1;

}
header .logo
{	height : auto;
	margin: 10px 25px;
	font-size : 25px;
}
header  .logo span 
{
	font-family : times new roman;
	color : rgb(0, 0,0);
}
header .Links
{
	width :auto;
	position : absolute;
	right: 0px;
	bottom : 0px;
	display: flex;
	flex-direction : row;
	background-color :;
	margin-right : 5rem;
}
header .Links a
{
	font-family : 'Times New Roman', Times, serif;
	font-size : 25px;
	text-decoration : none;
	color : rgb(0, 0,0);
	margin-left : 5px;
} 
header .Links a span 
{
	color :  red;
}
header .Links a:hover
{
	color : red;
}
header .Links a:hover span
{
	color : white;
}
.Background
{
	width: 5vw;
	height: 5vh;
	position: relative;
	top: 0.5rem;
	display: flex;
	flex-direction: row;

}
.color 
{
	width: 2.5vw;
	height: 5vh;
	border: 1px solid white;
	
}
.C1{background-color :#112A46;	border-top-left-radius: 60%;border-bottom-left-radius: 60%;}
.C2{background-color: pink;border-top-right-radius: 60%;border-bottom-right-radius: 60%;}
section
{
	width: 60vw;
	height: auto;
	background-color: none;
	position: relative;
	margin-top: 15vh;
	grid-column: 2/4;
	grid-row: 2/3;
	 
}
section .Services
{
	width: 70vw;
	height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-grow: 1;
}
section .Services .serve
{
	height: auto;
	width : 18.5vw;
	position: relative;
	font-family : ;
	font-size : 18.5px;
	background-color : rgb(0, 0,0,0.3);
	margin : 2.5px;
	margin-top: 10px;
	color : white ;
	border-radius: 10px;
	transition: all 2s;
	overflow: hidden;
	padding-bottom: 10px;
}
section .Services .serve .titre
{
	color :  rgb(102, 223, 224);
	font-size : 30px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 5px;
}
section .Services .serve p:nth-child(3)
{
	margin-left: 10px;

}
section .Services .serve:nth-child(1),.serve:nth-lastchild()
{
	margin-left : 10px;
	
}

section .Services .serve  .serviceForm
{
	width: 100%;
	height: 12.5vw;
	display:block;
	background-color: rgb(0, 0, 0,0.3) ;
	border-bottom-left-radius: 75px;
	padding: 0px;
	position:relative;
}
section .Services .serve  .serviceForm span i
{
	margin: 5rem 50%;
	color: rgb(102, 223, 224);
	font-size: 35px;
}
section .Services .serve:hover  .serviceForm i
{
	color: white;
}
section .Services .serve:hover  .serviceForm
{
	background-color: red;
}
aside
{
	width: 25vw;
	height: 50%;
	position  : relative;
	display: flex;
	flex-direction: column;
	background-color : rgb(0, 0, 0,0.3);
	margin-top: 17vh;
	margin-left: 2rem;
	grid-column: 1/2;
	grid-row: 2/3;
}
aside .AboutMe .forme 
{
	width: 7.5vw;
	height: 7.5vw;
	position: absolute;
	background-color: rgb(102, 223, 224) ;
	border-radius: 100% 0% 98% 2% / 81% 100% 0% 19%;
	
}
aside .AboutMe .f1
{
	bottom: 0px;
	left: 0px;
	transform: rotate(90deg);
}
aside .AboutMe .f2
{
	top : 0px;
	right: 0px;
	transform: rotate(-90deg);
}
 
aside .AboutMe .Img_div
{
	border-right: 20px solid transparent ;
	border-radius: 50%;
	 width: 180px;
	 height: 200px;
	 background-image: url('htb-picture.jpg');
	 background-size: cover;
	 position: relative;
	 top: 7.5rem;
	 left: 3.5rem;
}
.Img_div::before
{
	content: "";
	width: 200px;
	height:200px;
	position: absolute;
	top: 0px;
	padding: 20px;
	translate: -7.5% -9%;
	border-radius: 50%;
	animation: tourning all 2s infinite;
	background-image: conic-gradient(from 180deg, transparent 50%, white 80% 350deg);
	z-index: -1;
}
@keyframes tourning {
	25%{background-image: conic-gradient(from 180deg, transparent 50%, red 80% 350deg);}
	50%{background-image: conic-gradient(from 200deg, transparent 50%, red 80% 350deg);}
	75%{background-image: conic-gradient(from 220deg, transparent 50%, red 80% 350deg);}
	100%{background-image: conic-gradient(from 240deg, transparent 50%, red 80% 350deg);}

		}
aside .AboutMe .Contact
{
	display : flex;
	flex-direction : column;
	margin-left : 1rem;
}
aside .AboutMe a 
{	
	font-family : times new roman;
	font-size : 22px;
	text-decoration : none;
	color : white;
	background-color : red;
	padding : 5px;
	border-radius : 10px;
	margin-left: 20.5%;
	margin-left: 24.5%;
	transition : 1s all;
	
}
aside .AboutMe a:hover
{
	color : #b0e892;
	background-color : #005F7B;
}

aside .AboutMe .textImg 
{
	width: auto;
	position: relative;
	font-size: 20px;
	margin-top: 10rem;
}
aside .AboutMe .textImg p
{
	 
	margin-top: 1rem;
	margin-bottom: 1rem;
	text-align: center;
}

footer
{
	position : relative;
	width: 100vw;
	height: auto;
	display: flex;
	flex-direction: column;
	background-color : rgb(102, 223, 224);
	margin-top: -0rem;
	grid-column: 1/4;
	grid-row: 3/4;
}
footer .contact 
{
	color: rgb(0, 0,0);
	font-size: 25px;
	text-align: center;
}
footer .confident
{
	color: rgb(0, 0,0);
	font-size: 25px;
	text-align: center;
}
@media screen and (max-width : 800px){
	body
{
	width: 100%;
	background-color: #112A46;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-template-rows: repeat(4,1fr);
	 
}
	header
{
	position : relative;
	width: 100%;
	height: 20vh;
	background-color : rgb(102, 223, 224);
	grid-column: 1/-1;
	grid-row: 1/2;
}
header .logo
{	height : auto;
	margin-left : 5px;
	margin-top: 2rem;
	font-size: 20px;
}

header .Links
{
	width :25vw;
	position : absolute;
	right: -2.5rem;
	top: 5px;
	display: flex;
	flex-direction : column;
	
}
header .Links a 
{
	font-size: 21px;
}
header .Links a:hover
{
	color: white;
}
aside
{
	width: 100vw;
	height: 60vh;
	position  : relative;
	background-color : rgb(0, 0,0,0.3);
	margin: 0px;
 	margin-left: 0px;
	grid-column: 1/-1;
	grid-row: 2/3;
}

 aside .AboutMe img 
 {
 	width: 100px;
 	height: 100px;
 	margin: 0rem 2.5rem;
 	border: 20px solid transparent ;
 	animation-name:none;
	border-top-color:  #b0e892;
	border-bottom-color:  #b0e892;
 }	
aside .AboutMe a 
{	
	font-family : times new roman;
	font-size : 18px;
	text-decoration : none;
	color : #b0e892;
	background-color : #005F7B;
	padding : 0.5rem;
	border-radius : 10px;
	margin-top: -1rem  ;
	transition : 1s all;
	
}
aside .AboutMe .textImg
{
	font-size: 20px;
	margin-top: 2.5rem;
	margin-left: 3rem;
}
aside .AboutMe .text p
{
	margin-left: 10rem;
	margin-bottom: 1rem;
}
aside .AboutMe .forme
{
	width: 20vw;
	height : 20vh;
	position: absolute;
}
aside .AboutMe .forme .f1
{
	left: 0px;
	bottom: -10px;
}
aside .AboutMe .forme .f2
{
	left :-2rem;
	top: -10px;
}
 section
{
	
	width: 100%;
	height: auto;
	background : none;
	position: relative;	
	grid-column: 1/-1;
	grid-row: 3/4;
}
section .Services
{
	width: 100%;
	height: 100%;
	background-color :none;
	display: grid;
	grid-template-columns: 2fr;
}
section .Services .serve
{
	position: relative;
	font-family : ;
	font-size : 12.5px;
	width :50vw;
	height: auto;
	background-color : rgb(0, 0, 0,0.3);
	margin : 2.5px;
	border-radius: 10px;
	transition: all 2s;
	overflow: hidden;
}

section .Services .serve .titre
{
	color : rgb(102, 223, 224);
	font-size : 20px;
}
section .Services .serve  .serviceForm span i
{
	margin: 1rem 50%;
	color: rgb(102, 223, 224);
	font-size: 35px;
}
footer
{
	position : relative;
	width: 100%;
	height: 20vh;
	background:rgb(102, 223, 224);
	grid-column: 1/-1;
	grid-row: 4/5;
}
footer .contact
{
	font-size: 18px;
	padding-top: 10px;
	width: auto;
	height: auto;
}
}
@media screen and (max-width : 360px){
body
{
	width: 100%;
	background-color: #112A46;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-template-rows: repeat(4,1fr);
	 
}
header
{
	position : relative;
	width: 100%;
	height: 20vh;
	background-color : rgb(102, 223, 224);
	grid-column: 1/-1;
	grid-row: 1/2;
}
header .logo
{	height : auto;
	position : absolute;
	bottom: 0px;
	font-size: 20px;
}

header .Links
{
	width :25vw;
	position : absolute;
	right: -3.5rem;
	top: 15px;
	display: flex;
	flex-direction : column;
}
.Background
{
	width: 10vw;
	flex-direction: row;
	transform: rotate(90deg);
	margin-left: 1rem;
}
.color
{
	width: 10vw;
}
aside
{
	width: 100vw;
	height: 50vh;
	position  : relative;
	background-color : rgb(0, 0,0,0.3);
	margin: 0px;
 	margin-left: 0px;
	grid-column: 1/-1;
	grid-row: 2/3;
}

 aside .AboutMe .Img_div
 {
 	margin-top: -5rem;
 }	

aside .AboutMe .textImg
{
	font-size: 20px;
	margin-top: 9rem;
}
aside
{
	width: 100vw;
	height: 50vh;
	position  : relative;
	background-color : rgb(0, 0,0,0.3);
	margin: 0px;
 	margin-left: 0px;
	grid-column: 1/-1;
	grid-row: 2/3;
}
aside .AboutMe .text p
{
	margin-left: 10rem;
	margin-bottom: 1rem;
}
aside .AboutMe .forme
{
	width: 20vw;
	height : 10vh;
	position: absolute;
}
aside .AboutMe .forme .f1
{
	left: 0px;
	bottom: -5px;
}
aside .AboutMe .forme .f2
{
	right :0px;
	top: 0px;
}
section .Services .serve  .serviceForm span i
{
	margin: auto 48.5%;
}
section
{
	width: 100%;
	height: auto;
	background-color: none;
	position: relative;
	margin-top: 1.5rem;
	grid-column: 1/-1;
	grid-row: 3/4;
	 
}
section .Services
{
	width: 100vw;
	height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-grow: 1;
	justify-content: center;
}
}
