*,::before,::after
{
	margin : 0px;
	padding : 0px;
	
}
 
body
{
	height: 100vh;
	width: 100vw;
	background-color :#112A46;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-template-rows: repeat(4,1fr);
	column-gap: 10px;
	row-gap: 1rem;
	transition: all 2s ease;
}
header
{
	position : fixed;
	width: 100vw;
	height: 10vh;
	background-color : rgb(102, 223, 224);
	grid-column: 1/-1;
	grid-row: 1/2;
	z-index: 1;

}
.nav_bar
{
	display: none;
}
.toggle_bars
{
	display: none;
}
header .logo
{	height : auto;
	margin: 10px 25px;
	font-size : 25px;
}
header  .logo span 
{
	font-family : times new roman;
	color : rgb(0, 0,0);
}
.secondSpan
{
	padding: 5px;
	background-color: rgb(0, 0,0,0.7);
	font-weight: bold;
}
header .Links
{
	width :auto;
	position : absolute;
	right: 0px;
	bottom : 0px;
	display: flex;
	flex-direction : row;
	margin-right : 7rem;
}
header .Links a
{
	font-family : 'Times New Roman', Times, serif;
	font-size : 25px;
	text-decoration : none;
	color : rgb(0, 0,0);
	margin-left : 5px;
} 
header .Links a span 
{
	color :  red;
}
header .Links a:hover
{
	color : red;
}
header .Links a:hover span
{
	color : white;
}
.Background
{
	width: 5vw;
	height: 5vh;
	position: absolute;
	top: -5px;
	right: -4.5rem;
	display: flex;
	flex-direction: row;

}
.color 
{
	width: 2.5vw;
	height: 5vh;
	border: 1px solid white;
	
}
.C1{background-color :#112A46;	border-top-left-radius: 60%;border-bottom-left-radius: 60%;}
.C2{background-color: pink;border-top-right-radius: 60%;border-bottom-right-radius: 60%;}
.language
{
	position: relative;
}
.language span 
{
	font-size: 25px;
}
.language span:hover
{
	cursor: pointer;
}

.selected_language
{
	width: 6vw;
	height: 10vh;
	font-size: 20px;
	display: none;
	color: white;
	list-style-type: none;
	text-align: center;
	margin-left: -5rem;
	margin-top: -10px;
	background-color: #052d39c9;
	position: absolute;
}
 
ul li:hover
{
	width: 6vw;
	height: 5vh;
	color: black;
	background-color: #fff;
	cursor: pointer;
}
aside
{
	width: 25vw;
	height: 50%;
	position  : relative;
	display: flex;
	flex-direction: column;
	background-color : rgb(0, 0, 0,0.3);
	margin-top: 17vh;
	margin-left: 2rem;
	grid-column: 1/2;
	grid-row: 2/3;
}
aside  .forme 
{
	width: 7.5vw;
	height: 7.5vw;
	position: absolute;
	background-color: rgb(102, 223, 224) ;
	border-radius: 100% 0% 98% 2% / 81% 100% 0% 19%;
	
}
aside  .f1
{
	bottom: 0px;
	left: 0px;
	transform: rotate(90deg);
}
aside  .f2
{
	top : 0px;
	right: 0px;
	transform: rotate(-90deg);
}
 
aside .AboutMe .Img_div
{
	border-right: 20px solid transparent ;
	border-radius: 50%;
	 width: 180px;
	 height: 200px;
	 background-image: url('htb-picture.jpg');
	 background-size: cover;
	 position: relative;
	 top: 7.5rem;
	 left: 3.5rem;
}
.Img_div::before
{
	content: "";
	width: 200px;
	height:200px;
	position: absolute;
	top: 0px;
	padding: 20px;
	translate: -7.5% -9%;
	border-radius: 50%;
	background-image: conic-gradient(from 180deg, transparent 50%, white 80% 350deg);
	z-index: -1;
}
aside .AboutMe a 
{	
	font-family : times new roman;
	font-size : 22px;
	text-decoration : none;
	color : white;
	background-color : red;
	padding : 5px;
	border-radius : 10px;
	margin-left: 24.5%;
	transition : 1s all;
	
}
aside .AboutMe a:hover
{
	color : #b0e892;
	background-color : #005F7B;
}

aside .AboutMe .textImg 
{
	width: auto;
	position: relative;
	font-size: 20px;
	margin-top: 10rem;
}
aside .AboutMe .textImg p
{
	 
	margin-top: 1rem;
	margin-bottom: 1rem;
	text-align: center;
}

section
{
	width: 60vw;
	height: auto;
	background-color: none;
	position: relative;
	margin-top: 15vh;
	grid-column: 2/4;
	grid-row: 2/3;
	 
}
section .Services
{
	width: 70vw;
	height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-grow: 1;
}
/*English style (internatiolisation)*/
.Text_En_firstService,.Text_En_secondService,.Text_En_thirdService,.Text_En_fourthService,.Text_En_firthService,.Text_En_sixthService
{
	display: none;
}
.paragraph
{
	margin-left: 1rem;
}
/*-----------------------------------*/
section .Services .serve
{
	height: auto;
	width : 18.5vw;
	position: relative;
	font-family : ;
	font-size : 18.5px;
	background-color : rgb(0, 0,0,0.3);
	margin : 2.5px;
	margin-top: 10px;
	color : white ;
	border-radius: 10px;
	transition: all 2s;
	overflow: hidden;
	padding-bottom: 10px;
}
section .Services .serve .titre
{
	color :  rgb(102, 223, 224);
	font-size : 30px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 5px;
}
section .Services .serve p:nth-child(3)
{
	margin-left: 10px;

}
section .Services .serve:nth-child(1),.serve:nth-lastchild()
{
	margin-left : 10px;
	
}

section .Services .serve  .serviceForm
{
	width: 100%;
	height: 12.5vw;
	display:block;
	background-color: rgb(0, 0, 0,0.3) ;
	border-bottom-left-radius: 75px;
	padding: 0px;
	position:relative;
}
section .Services .serve  .serviceForm span i
{
	margin: 5rem 50%;
	color: rgb(102, 223, 224);
	font-size: 35px;
}
section .Services .serve:hover  .serviceForm i
{
	color: white;
}
section .Services .serve:hover  .serviceForm
{
	background-color: red;
}

footer
{
	position : relative;
	width: 100vw;
	height: auto;
	display: flex;
	flex-direction: column;
	background-color : rgb(102, 223, 224);
	margin-top: -0rem;
	grid-column: 1/4;
	grid-row: 3/4;
}
footer .contact 
{
	color: rgb(0, 0,0);
	font-size: 25px;
	text-align: center;
}
footer .confident
{
	color: rgb(0, 0,0);
	font-size: 25px;
	text-align: center;
}
@media screen and (max-width : 800px){
	body
{
	width: 100%;
	background-color: #112A46;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-template-rows: repeat(4,1fr);
	 
}
	header
{
		position : relative;
        height: 60px;  
        position: relative;
        text-align: center;
        border-radius: 10px;
	background-color : rgb(102, 223, 224);
	grid-column: 1/-1;
	grid-row: 1/2;
	text-align: center;
	transform: translateX(0%);
}
    
     header.show
    {
        height: 200px;
        transition: all 0.5s;
    }
.toggle_bars
    {
        width: 2rem;
        height: auto;
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 10px;
        top: 20px;
    }
.bar 
    {
        width: 100%;
        height: 5px;
        margin-top: 2px;
        background-color: black;
        border-radius: 5px;
        transition: all 0.5s;
    }
    header.show .B1
    {
        transform: rotate(50deg) translatey(10px);
        background-color: red;
    }
    header.show .B2
    {
        display: none;
    }
     header.show .B3
    {
        transform: rotate(-50deg) translatey(-6px) translatex(-5px);
        background-color: red;
    }

header .logo
{	height : auto;
	margin-left : -5px;
	margin-top: 1rem;
	font-size: 25px;
}
.secondSpan
{
	padding: 2px;
	background-color: rgb(0, 0,0,0.7);
	font-weight: bold;
}
header .Links
{
	width :auto;
	display: none;
	position : absolute;
	left: 5rem;
	top: 3.5rem;
	flex-direction : column;
	transition: all 0.5s;
}
header.show .Links
{
	display: flex;
	margin-top:10px;
		
}
.selected_language
{
	width: auto;
	height: 6vh;
}
header .Links a,.language span
{
	font-size: 21px;
}
header .Links a:hover
{
	color: white;
}
header .Background
{
	width: 15vw;
	top: 3rem;
	left: -4rem;
}
header .color
{
	width: 7.5vw;
	border-radius: 0px;

}
aside
{
	width: 100vw;
	height: auto;
	position  : relative;
	background-color : rgb(0, 0, 0,0.3);
	display: flex;
	flex-direction: column;
	margin: 0px;
 	margin-left: 0px;
	grid-column: 1/-1;
	grid-row: 2/3;
}
.AboutMe
{
	position: relative;
}
aside .AboutMe .Img_div
{
	width: 150px;
	height: 160px;
	top: 30px;
	left: 6rem;
}
aside .AboutMe .Img_div::before
{
	width: 165px;
	height: 155px;
}
aside .AboutMe a 
{	
	font-family : "times new roman";
	font-size : 18px;
	text-decoration : none;
	color : #b0e892;
	background-color : #005F7B;
	padding : 0.5rem;
	border-radius : 10px;
	transition : 1s all;
}
aside .AboutMe .textImg
{
	font-size: 20px;
	margin-top: 4rem;
	margin-bottom: 1rem;
}
aside .AboutMe .textImg p
{
	margin-left: 0rem;
	margin-bottom: 1rem;
}
aside .forme
{
	width: 15vw;
	height : 10vh;
	position: absolute;
}
aside  .f1
{
	left: 0px;
	bottom: -12px;
}
aside .f2
{
	right :15px;
	top: -10px;
}
 section
{
	
	width: 100%;
	height: auto;
	background : none;
	position: relative;	
	padding: 0px;
	grid-column: 1/-1;
	grid-row: 3/-3;
	margin-top: -0rem;
}
section .Services
{
	width: 100%;
	height: 100%;
	background-color :none;
	justify-content: center;

}
section .Services .serve
{
	position: relative;
	font-size : 12.5px;
	width :50vw;
	height: auto;
	background-color : rgb(0, 0, 0,0.3);
	margin-top: 0px;
	border-radius: 10px;
	transition: all 2s;
	overflow: hidden;
}

section .Services .serve .titre
{
	color : rgb(102, 223, 224);
	font-size : 20px;
}
section .Services .serve  .serviceForm span i
{
	margin: 0.5rem 45%;
	color: rgb(102, 223, 224);
	font-size: 35px;
}
footer
{
	position : relative;
	width: 100%;
	height: 20vh;
	background:rgb(102, 223, 224);
	grid-column: 1/-1;
	grid-row: 4/5;
}
footer .contact
{
	font-size: 18px;
	padding-top: 10px;
	width: auto;
	height: auto;
}
}
